<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>StudentDataBase</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<!-- HEADING -->
	<div class="container">
		<div class=" row">
		<h2 style=" color: red"> StudentDataBaseManagementSystem</h2>
		</div>
		<!-- HEADING OVER-->
		<!-- B U T T O N -->

		<div class="row">
			<div class="col-lg-3">

				<a th:href="@{students/new}" class="btn btn-primary btn-sm mb-3">add
					Students</a>
			</div>
		</div>

		<!-- B U T T O N   c l o s e-->

		<!-- 	T A B L E  -->
		<table class=" table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>StudentFirstName</th>
					<th>StudentLastName</th>
					<th>StudentEmail</th>
					<th>update</th>
					<th>delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student:${students}">

					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.email}"></td>
					<td>
					<a th:href="@{/students/edit/{id}(id=${student.id})}"
						class="btn btn-primary"> update</a></td>
					<td><a th:href="@{/students/{id}(id=${student.id})}"
						class="btn btn-danger"> delete</a></td>
				</tr>

			</tbody>
		</table>
	</div>

</body>
</html>
